html
{
	scroll-behavior: smooth;
	scrollbar-width: none;
}

html::-webkit-scrollbar
{
	display: none;
}

body
{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #5d7c6b;
	overflow: auto;
	-ms-overflow-style: none;
	background-image: url("../media/leaf.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section
{
	margin:0;
	padding:0;
	width:100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a
{
	outline: 0;
}

button
{
	outline: 0;
	font-family: 'Montserrat', sans-serif;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */
}

.sektion
{
	margin:0;
	padding:0;
	width:100vw;
	min-height: 20px;
}

.content
{
	margin: 0;
	padding: 0;
	width: 90vw;
	z-index: 1;
}

#back
{
	position: fixed;
	z-index: -2;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: 1s;
}

#back.backColor
{
	background-color: black;
	opacity: 0.9;
}

.navsection
{
	margin:0;
	padding:0;
	width:100vw;
	position:fixed;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
}

.navbar
{
	display: flex;
	justify-content: space-between;
}

.logo
{
	height: 65px;
	width: 65px;
	font-size: 32px;
	font-family: 'Fjalla One', sans-serif;
	color:white;
	background-color: black;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.menu
{
	display: flex;
	height: 65px;
	transition: 1s;
}

.menu.backdrop
{
	background-color: black;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.menu li
{
	list-style-type: none;
}

.menu li a
{
	display: flex;
	margin: 0;
	align-items: center;
	height: 65px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 20px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.menu li a:hover:not(.active)
{
	background-color: #445b4e;
	color:white;
}

li a:not(.active)
{
	color: white;
	background-color: transparent;
}
.active
{
	color: black;
	background-color: white;
	cursor: default;
}

.barFill
{
	background-color: black;
	width: 100%;
	visibility: collapse;
}
.container {
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0;
	height: 65px;
	width: 0px;;
	background-color: black;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 4px;
	background-color: white;
	margin: 4px 0;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-10px, 7px);
	transform: rotate(-45deg) translate(-10px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-10px, -7px);
	transform: rotate(45deg) translate(-10px, -7px);
}

.title
{
	margin:0;
	padding:0;
	width:100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.title h1
{
	margin: 0;
	padding-bottom: 10px;
	font-size: 48px;
}

.title h4
{
	margin: 0;
	font-style: italic;
	font-weight: normal;
	font-size: 24px;
}

#navArrow
{
	position:fixed;
	z-index:1;
	margin-bottom: 2vh;
	bottom: 0;
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#downArrow
{
	background-color: rgba(0, 0, 0, 0);
	height: 4vmax;
	width: 4vmax;
	border-style:solid;
	border-color: white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

#downArrow:hover
{
	border-bottom-width: 5px;
	border-right-width: 5px;
}

#contentPanel
{
	z-index: 0;
	transition: 0.25s;
}

.subject
{
	margin:0;
	padding:0;
	margin-top: 220px;
	margin-bottom: 220px;
	display: flex;
	justify-content: center;
}

.sub_image
{
	height: 40vh;
	width: 40vh;
	border-radius: 10px;
	flex-shrink: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sub_text
{
	margin-left: 30px;
	color: white;
	max-width: 30vw;
}

#sub1
{
	background-image: url("../media/uwu.png");
}
.footer
{
	width: 100%;
	background-color: black;
	color: #b6b6b6;
	font-style: italic;
	display: flex;
	justify-content: space-between;
}

.footer div
{
	margin: 20px;
}

.footer #ft_date
{
	text-align: right;
}

.topper
{
	background-color: transparent;
	border: none;
	color: #b6b6b6;
	font-size: 18px;
	margin: 20px;
}

.topper:hover
{
	text-decoration: underline;

}
@media only screen and (max-width: 1600px) {
	.sub_text {
		max-width: 40vw;
	}
}

@media only screen and (max-width: 991px) {
	.content {
		width: 95vw;
	}
}

@media only screen and (max-width: 767px) {
	.content {
		width: 100vw;
	}
	.sub_image {
		flex-shrink: 1;
		min-width: 40vw;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.sub_text
	{
		margin-left: 20px;
		margin-right: 20px;
		color: white;
		max-width: 100vw;
	}
	.navbar {
		overflow-y: visible;
		height: 65px;
		background-color: black;
	}
	.barFill {
		visibility: visible;
	}
	.container {
		width: 65px;
	}
	.bar1, .bar2, .bar3 {
		transition: 0.3s;
	}
	.menu {
		transition: 0s;
		flex-direction: column;
	}
	.menu li {
		width: 200px;
		visibility: hidden;
	}
	.menu li.vis{
		visibility: visible;
	}
	.menu li a {
		justify-content: flex-end;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	li a:not(.active) {
		background-color: grey;
	}
}

@media only screen and (max-width: 478px) {
	.sub_image {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		height: 100vw;
		width: 100vw;
	}
	.subject {
		flex-direction: column;
	}
}
